
<div id="viewDiv">
	<!-- <div id="trackSwitch" class="hide">
		<table class="table table-no-table">
			<tbody>
				<tr>
					<td></td>
					<td colspan="2">
						<label class="toggle-switch">
							<span class="track-switch-old">Old Track</span>
							<input id="trackSwitchInput" type="checkbox" class="toggle-switch-input" checked />
							<span class="toggle-switch-track toggle-white"></span>
							<span class="track-switch-new">New Track</span>
						</label>
					</td>
				</tr>
				<tr>
					<td>Time</td>
					<td>4h 20min</td>
					<td>3h 17min</td>
				</tr>
				<tr>
					<td>Capacity</td>
					<td>?</td>
					<td>325 trains/day</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="segments">
		<a id="allButton" class="btn btn-clear-white btn-fill">
			All
		</a>
		<a id="gotthardButton" class="btn btn-clear-white btn-fill">
			Gotthard
		</a>
		<a id="ceneriButton" class="btn btn-clear-white btn-fill">
			Ceneri
		</a>
		<a id="zimmerbergButton" class="btn btn-clear-white btn-fill">
			Zimmerberg
		</a>
	</div> -->
</div>

<div id="app">

</div>

<!-- <div class="footer hide">
	<div class="footer-content">

		<div class="sections">
			<button id="previousSection" class="btn btn-white">
        <span class="icon-ui-left-triangle-arrow"></span>
      </button>
			<div id="sectioDetails">
				<div class="sectionTitle">Gotthard Railway</div>
				<div class="sectionInfo">Finished: 1882 / Traveltime: 4h 01min</div>
				<div class="sectionInfo">Finished: 2020 / Traveltime: 2h 58min</div>
			</div>
			<button id="nextSection" class="btn btn-white">
        <span class="icon-ui-right-triangle-arrow"></span>
      </button>
		</div>
		<div class="profiles">
			<div id="leftProfile"></div>
			<div id="rightProfile"></div>
		</div>

	</div>

</div> -->
