

$image-path: '../../node_modules/calcite-web/dist/img';
$font-path: '../../node_modules/calcite-web/dist/fonts';

// @import "node_modules/calcite-web/dist/sass/calcite-web.scss";
@import "node_modules/calcite-web/dist/sass/calcite-web-dark.scss";

$slow-color: #ff7d00;
$slow-color-faded: #9b5c20;

$fast-color-faded: #007f00;
$fast-color: #00ff00;


html {
  height: -webkit-fill-available;
}

body, #app {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

#viewDiv {
  width: 100%;
  height: 100%;
}

html,
body,
#app,
#viewDiv
 {
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

#viewDiv {
  position: absolute;
  left: 0px;
  top: 0px;
}

#app, .wrapper, .footer {
  z-index: 100;
  pointer-events: none;

  color: rgb(220, 220, 220);
  text-transform: uppercase !important;
  font-family: Arial, Helvetica, sans-serif;
}

.interactive {
  pointer-events: auto;
}

#app {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: rgb(0, 0, 0, 0);
  padding-bottom: 15px;
}

.track-selector {

  .btn {
    border-radius: 0.75em;
    margin-right: 1em;
    background: none;
    color: white;
  }

  .fast {

    // color: $fast-color-faded;
    border-color: $fast-color-faded;

    &.active {
      border-color: $fast-color;
      background-color: $fast-color-faded;
    }

    &:hover {
      color: $fast-color-faded;
      background-color: $fast-color;
      border-color: $fast-color;
    }
  }

  .slow {
    border-color: $slow-color-faded;

    &.active {
      border-color: $slow-color;
      background-color: $slow-color-faded;
    }

    &:hover {
      color: $slow-color-faded;
      background-color: $slow-color;
      border-color: $slow-color;
    }
  }
}

.time-distance {
  h4 {
    font-size: 0.7em;
    margin: 0.5rem 0 0 0;
  }

  span {
    white-space: nowrap;
    font-size: 1.5em;
  }
}

.legend {

  h4 {
    font-size: 1em;
    // margin-top: 1em;
  }

  .elevation {
    border-bottom: 2px solid $fast-color-faded;
    &.slow {
      border-bottom-color: $slow-color-faded;
    }
  }

  .track {
    border-bottom: 2px solid $fast-color;
    &.slow {
      border-bottom-color: $slow-color;
    }
  }

}

.animation {
  text-align: center;
  font-size: 3em;
  cursor: pointer;
}


$track-section-line-width: 2px;
$track-section-line-length: 25px;
$track-section-line-height: 40px;
$track-section-dot-size: 12px;

.track-sections {

  padding-top: 100px;
  margin: 1rem;
  display: inline-flex;

  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   z-index: -1;
  //   bottom: 0px;
  //   background-color: $fast-color;
  //   width: 100%;
  //   height: $track-section-line-width;
  // }

  .track-section {

    // width: $track-section-dot-size;
    // height: $track-section-dot-size;
    // background-color: white;
    position: relative;
    // border-radius: 50%;
    // display: block;
    // -moz-appearance: none;
    // -webkit-appearance: none;
    // appearance: none;
    cursor: pointer;

    margin-left: $track-section-line-length;
    margin-right: $track-section-line-length;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;

      // top: 50%;
      // transform: translateY(-50%);
      bottom: 0px;
      background-color: white;
      width: $track-section-line-length;
      height: $track-section-line-width;
      // max-width: 50px;
    }

    &::before {
      left: -$track-section-line-length;
    }

    &::after {
      right: -$track-section-line-length;
    }

    .track-pin{

      position: absolute;
      bottom: 2 * $track-section-line-width;
      left: 50%;
      transform: translateX(-50%);
      width: $track-section-line-length;
      height: $track-section-line-width;
      background-color: white;

      &::after {
        display: block;
        content: '';
        position: absolute;
        z-index: -1;
        bottom: $track-section-line-width * 2;
        left: $track-section-line-length / 2;

        background-color: white;
        width: $track-section-line-width / 2;
        height: $track-section-line-height;
        max-width: 50px;
      }
    }

    .track-label {
      top: -(2 * $track-section-line-height + 20px);
      left: -$track-section-line-length / 2;
      transform: rotateZ(
        -45deg
      );
      width: 70px;
      // text-indent: -10px;
      position: absolute;

      font-size: 0.875em;
      white-space: nowrap;

    }
  }


}




/* REMOVE!  */
.sections {
  padding-top: 2em;
  padding-bottom: 2em;
}
.grid-container .placeholder {
  width: 100%;
  display: block;
  color: #ffffff;
  background-color: rgba(0, 121, 193, 0.33);
  border: solid 1px rgba(0, 121, 193);
  font-family: monospace;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

// .profiles {
//   width: 100%;
//   padding-top: 20%; /* 100% = 1:1 Aspect Ratio */
//   position: relative;
//   @include respond-to($small){
//     padding-top: 55%;
//   }
//   @include respond-to($medium){
//     padding-top: 45%;
//   }
//   padding-top: 20%;
// }

// .profiles > div {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }


.esri-ui {
  inset: 0px 0px 0px !important;
}

.esri-elevation-profile {
  background-color: rgb(36, 36, 36, 0.8);
}

.esri-elevation-profile__header {
  display: none;
}

.esri-elevation-profile__main-container {

  @include respond-to($small){
    height: 30vh;
  }
  @include respond-to($medium){
    height: 15vh;
  }
  height: 20vh;
  // height: calc(100% - 30px - 24px); // header minus paddings
}

// #trackSwitch.esri-component {
//   box-shadow: none;

//   background-color: rgb(255, 255, 255, 0.1);
//   table {
//     color: white !important;
//   }
// }

// .track-switch-old,
// .track-switch-new {
//   color: #f8f8f8;
//   padding: 5px;
// }

// .track-switch-old {
//   border-bottom: solid #ff7d00 2px;
// }

// .track-switch-new {
//   border-bottom: solid #00ff00 2px;
// }

// .toggle-switch-input[type]:checked + .toggle-switch-track.toggle-white {
//   border-color: #ccc;
//   background-color: #f4f4f4;
// }

// .toggle-switch-input[type]:checked + .toggle-switch-track.toggle-white:after {
//   border-color: #959595;
// }

// #segments {
//   color: white;
// }

