

$image-path: '../../node_modules/calcite-web/dist/img';
$font-path: '../../node_modules/calcite-web/dist/fonts';

// @import "node_modules/calcite-web/dist/sass/calcite-web.scss";
@import "node_modules/calcite-web/dist/sass/calcite-web-dark.scss";

html,
body,
#app,
#viewDiv
 {
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

#viewDiv {
  position: absolute;
  left: 0px;
  top: 0px;
}

#app, .wrapper, .footer {
  z-index: 100;
  pointer-events: none;
}

.interactive {
  pointer-events: auto;
}

#app {
    display: flex;
    flex-direction: column;
}

.footer {
  background-color: rgb(0, 0, 0, 0);
  padding-bottom: 15px;
}

.grid-container .placeholder {
  width: 100%;
  display: block;
  color: #ffffff;
  background-color: rgba(0, 121, 193, 0.33);
  border: solid 1px rgba(0, 121, 193);
  font-family: monospace;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

// .profiles {
//   width: 100%;
//   padding-top: 20%; /* 100% = 1:1 Aspect Ratio */
//   position: relative;
//   @include respond-to($small){
//     padding-top: 55%;
//   }
//   @include respond-to($medium){
//     padding-top: 45%;
//   }
//   padding-top: 20%;
// }

// .profiles > div {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }


.esri-ui {
  inset: 0px 0px 0px !important;
}

.esri-elevation-profile {
  background-color: rgb(36, 36, 36, 0.8);
}

.esri-elevation-profile__header {
  display: none;
}

.esri-elevation-profile__main-container {

  @include respond-to($small){
    height: 30vh;
  }
  @include respond-to($medium){
    height: 15vh;
  }
  height: 20vh;
  // height: calc(100% - 30px - 24px); // header minus paddings
}

// #trackSwitch.esri-component {
//   box-shadow: none;

//   background-color: rgb(255, 255, 255, 0.1);
//   table {
//     color: white !important;
//   }
// }

// .track-switch-old,
// .track-switch-new {
//   color: #f8f8f8;
//   padding: 5px;
// }

// .track-switch-old {
//   border-bottom: solid #ff7d00 2px;
// }

// .track-switch-new {
//   border-bottom: solid #00ff00 2px;
// }

// .toggle-switch-input[type]:checked + .toggle-switch-track.toggle-white {
//   border-color: #ccc;
//   background-color: #f4f4f4;
// }

// .toggle-switch-input[type]:checked + .toggle-switch-track.toggle-white:after {
//   border-color: #959595;
// }

// #segments {
//   color: white;
// }

